# --- Unity ---
Library/
Logs/
Temp/
obj/
Build/
build/
Assets/Plugins/*/Editor/
.collabignore

# Unity 錯誤日誌
*.log

# Visual Studio / Rider 的 IDE 設定檔（不同電腦設定可能不同）
.vscode/
.idea/
.vs/
*.sln
*.csproj
*.userprefs
UserSettings/
.vsconfig

# --- Aseprite ---
*.aseprite-backups/

# --- Audacity ---
*.aup3-wal
*.autosave

# --- 通用忽略 ---
*.exe
*.dll
*.pdb
*.obj
*.pyc
.DS_Store
Thumbs.db
